<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Display Catering</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Service Type</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Rent</th>
                            <th scope="col">Address</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                    
                        </tr>

                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                         <td>{{i.s_name}}</td>
                         <td>{{i.service_name}}</td>
                         <td>{{i.service_rent}}</td>
                         <td>{{i.service_address}}</td>
                         <td>{{i.service_description}}</td>
                         <td><img src="{{i.service_image.url}}" style="width:100px;height:100px"></td>
                         <td>
                             <form action="{% url 'service_edit' dataid=i.id %}">
                                 <button type="submit" class="btn btn-success mr-2">Edit</button>
                             </form>
                         </td>
                         <td>
                             <form action="{% url 'service_delete' dataid=i.id %}">
                                 <button type="submit" class="btn btn-danger mr-2">Delete</button>
                             </form>
                         </td>
                        </tr>
                        {% endfor %}
                      
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}